<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<head>
    <style>
        body {
            margin: 0;
            padding: 0;
            background-color: rgb(13, 17, 23);
            height: 100vh;
        }

        #login .container #login-row #login-column #login-box {
            margin-top: 120px;
            max-width: 600px;
            height: 320px;
            border: 1px solid white; 
            background-color: rgb(33, 37, 41);
        }

        #login .container #login-row #login-column #login-box #login-form {
           padding: 20px;
        }
        #login .container #login-row #login-column #login-box #login-form #register-link {
           margin-top: -85px;
        }

        footer {
           background-color: rgb(13, 17, 23);
        }
    </style>
</head>
<body>
    <div id="login">
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" class="col-md-12">
                        <form id="login-form" class="form" action="" method="post">
                            <h3 class="text-center text-info">Watermetter</h3>
                            <div class="form-group">
                                <label for="email" class="text-info">E-mail:</label><br>
                                <input type="text" name="email" id="email" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="senha" class="text-info">Senha:</label><br>
                                <input type="password" name="senha" id="senha" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="remember-me" class="text-info"><span>Salvar senha</span> <span><input id="remember-me" name="remember-me" type="checkbox"></span></label><br>
                                <input type="submit" name="submit" class="btn btn-info btn-md" value="Entrar" asp-controller="Login" asp-action="Login" asp-route-email="email" asp-route-senha="senha">
                            </div>
                            <div id="register-link" class="text-right">
                                <font color="white">
                                <a class="nav-link" asp-controller="Cadastro" asp-action="Cadastro">Cadastre-se</a>
                                </font>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>